{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>

    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2012/11/08/15/44/umbrella-65380_1280.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>


</body>

</html>