{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>

    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>

    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2016/11/14/03/43/kimono-1822520_1280.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>


</body>

</html>